.grille-control-item {
    padding-top: 20px;
    display: flex;
    min-width: 300px;
    width: auto;
    justify-content: space-between;
}

.grille--component {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 320px;
    width: 100%;
    /*padding: 8px;*/
}

.grille--component > .input-control--container {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 15px;
    justify-content: space-around;
    align-items: stretch;
}

.grille--component > .input-control--container > .input-control > input {
    width: auto;
    margin-top: 6px;
    min-width: 233px;
    display: block;
    font-size: 15px;
    padding: 0 3px;
    color: white;
    height: 35px;
    background-color: black;
    border: solid white 1.5px;
    border-radius: 9px;
}

.input-label {
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.input-button {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Mesure controle container*/
.mesure-control-container {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 400px;
    padding: 8px 8px;
    justify-content: space-between;
    align-items: stretch;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.line-mesure {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*margin-bottom: 8px;*/
}

.line-mesure > label {
    font-size: 14px !important;
    color: black;
    font-weight: bold;
}

.line-mesure > input {
    display: inline-block;
    width: 100px !important;
    font-size: 14px !important;
    color: black;
    margin: 0 !important;
    height: 14px !important;
    margin-left: 8px !important;
    padding: 0 0 !important;
}

.line-mesure > select {
    display: inline-block;
    height: auto;
    width: auto;
    border: solid 0.5px;
    border-radius: 3px;
    margin-left: 8px;
}

/**  Grille item*/
.grille-controle-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    padding-top: 8px;
    overflow-y: auto;

}

.grille-controle-container > .grille-item {
    display: flex;
    font-weight: bold;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #00C853;
    border-radius: 20px;
    width: 100px;
    height: 60px;
    margin: 0 30px 15px 0;
}

.grille-controle-container > .grille-item {
    display: flex;
    font-weight: bold;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #00C853;
    border-radius: 20px;
    width: 100px;
    height: 80px;
    margin: 0 30px 15px 0;
}


.grille-controle-container > .grille-item[data-intensity = "0"] {
    background-color: #660099;
}

.grille-controle-container > .grille-item[data-intensity = "1"] {
    background-color: #0000ff;
}

.grille-controle-container > .grille-item[data-intensity = "2"] {
    background-color: #0099ff;
}

.grille-controle-container > .grille-item[data-intensity = "3"] {
    background-color: #33ffcc;
}

.grille-controle-container > .grille-item[data-intensity = "4"] {
    background-color: #33ff00;
}

.grille-controle-container > .grille-item[data-intensity = "5"] {
    background-color: #ffff00;
}

.grille-controle-container > .grille-item[data-intensity = "6"] {
    background-color: #ff6600;
}

.grille-controle-container > .grille-item[data-intensity = "7"] {
    background-color: #ff0000;
}

.grille-controle-container > .grille-item[data-selected = "true"] {
    background-color: #69c0ff !important;
}


.grille-item > .item-row-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.grille-item > .item-row-1 > .numero {
    background-color: white;
    width: auto;
    padding: 4px 6px;
    border-radius: 14px;
    margin-top: -2px;
    margin-left: -4px;
}

.grille-item i {
    color: white;
    font-weight: bold;
    margin: 0 !important;

}


.item-row-1 small {
    font-size: 12px;
    padding: 0 4px;
    font-weight: bold;
    font-style: italic;
}

.item-row-1 .fine {
    /*text-decoration: line-through black;*/
}

/* -------------------------------- MODAL ----------------------------------------------------------*/
#mesure-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
#mesure-modal .modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: auto;
    /*padding: 20px;*/
    border: 1px solid #888;
    width: 80%;
}

#mesure-modal .modal-content .modal-title {
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}


/* The Close Button */
#mesure-modal .modal-content > .modal-title > .close {
    color: #fefefe;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#mesure-modal > .modal-content > .modal-title > .close:hover, .close:focus {
    color: #aaaaaa;
    text-decoration: none;
    cursor: pointer;
}

#mesure-modal > .modal-content > .modal-body {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

#mesure-modal > .modal-content > .modal-body > .input-control {
    display: flex;
    font-weight: 500;
    margin-bottom: 12px;
    width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#mesure-modal > .modal-content > .modal-body > .input-control > select, input {
    width: auto;
    min-width: 200px;
    padding: 9px;
    outline: none;
}

#mesure-modal > .modal-content > .modal-body > .input-control > input {
    padding: 0 !important;
}

#mesure-modal > .modal-content > .modal-body > .input-button {
    margin-top: 20px;
    min-width: 150px;
    width: auto;
}

#mesure-modal > .modal-content > .modal-body > .input-button > button {
    display: flex !important;
    font-weight: bold;
    font-size: 18px;
    justify-content: space-around !important;
}

