
.grille--component {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 320px;
    width: 100%;
    /*padding: 8px;*/
}

.grille--component > .input-control--container {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 15px;
    justify-content: center;
    align-items: stretch;
}

.grille--component > .input-control--container > .input-control > input {
    width: 233px;
    display: block;
    font-size: 15px;
    padding: 0 3px;
    color: black;
    height: 35px;
    border: solid white 1.5px;
    border-radius: 9px;
}

.input-label {
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.input-button {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-button > button {
    margin: 5px 0;
    display: block;
    background-color: white;
    color: black;
    height: auto;
    padding: 0px 15px;
    border-radius: 12px;
}

/* Mesure controle container*/
.mesure-control-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 400px;
    padding: 0 8px;
    justify-content: space-between;
    align-items: stretch;
}

.line-mesure {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*margin-bottom: 8px;*/
}

.line-mesure > label {
    font-size: 14px !important;
    color: black;
    font-weight: bold;
}

.line-mesure > input {
    display: inline-block;
    width: 100px !important;
    font-size: 14px !important;
    color: black;
    margin: 0 !important;
    height: 14px !important;
    margin-left: 8px !important;
    padding: 0 0 !important;
}

.line-mesure > select {
    display: inline-block;
    height: auto;
    width: auto;
    border: solid 0.5px;
    border-radius: 3px;
    margin-left: 8px;
}

/**  Grille item*/
.grille-controle-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    padding-top: 8px;
    overflow-y: auto;

}

.grille-controle-container > .grille-item {
    display: flex;
    font-weight: bold;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #00C853;
    border-radius: 3px;
    width: 100px;
    height: 60px;
    margin: 0 30px 15px 0;
}

.grille-item > .numero {
    background-color: white;
    width: auto;
    padding: 2px 6px;
    border-radius: 14px;
    margin-top: -15px;
    margin-left: -88px;
}

.grille-item i {
    color: white;
    font-weight: bold;
    margin: 0 !important;

}