.container {
   margin-left: 20px;
   margin-top: 20px;
}

.form-check-label {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 10px;
}

.btn {
    background-color:cornflowerblue;
    color: black;
    border-radius:20px;
    margin-left: 285px;
    margin-top: -110px;
}

.list-mix-p {
    margin-left: 45px;
    margin-bottom: 5px;
}

.list-mix-audio {
    margin-left: 25px;
    margin-bottom: -20px;
}

.list-mix-input {
    margin-bottom: 20px;
}





