.button-primary {
    display: flex;
    align-items: center;
    background-color: #0D47A1;
    color: white;
    padding: 8px;
    font-weight: 400;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
}

.button-primary:hover {
    border: #0D47A1;
    background-color: whitesmoke !important;
    color: #0D47A1;

}

.layout-mix > form > .mix-control {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.layout-mix > form > .mix-control .checkbox-control > label {
    min-width: 150px;
    font-size: 16px;
}

.layout-mix > form > .mix-control .checkbox-control > input {
    font-size: 16px;
    height: 20px;
}

.layout-mix > form > .mix-control .checkbox-control {
    display: flex;
    flex-direction: row;
    width: auto;
    min-width: 200px;
    align-items: center;
    justify-content: space-between;
}

.layout-mix > form > .list-mix {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    /*min-width: 350px;*/
    justify-content: space-between;
}

.layout-mix > form > .list-mix > .list-mix-file {
   /* display: flex;*/
    display:none;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    /*min-width: 350px;*/
    justify-content: space-between;
}

.layout-mix > form > .list-mix > .list-mix-file > .mix-item {
    display: flex;
    flex-direction: column;
    margin: 5px 7px;
    padding: 5px;
    width: 80%;
    align-items: center;
    justify-content: flex-start;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    border-radius: 8px;
}



.layout-mix > form > .list-mix > .mix-item > .mix-title {
    display: flex;
    flex-direction: row;
    width: auto;
    min-width: 160px;
    align-items: center;
    justify-content: center;
}

/* Audio Mix */
.layout-mix > form > .list-mix > .list-mix-file > .mix-item > .audio-mix > audio {
    margin-top: 8px;
    outline: none;
    height: 45px;
    width:100%;

}

.layout-mix > form > .list-mix > .list-mix-file > .mix-item > .audio-mix {
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.layout-mix > form > .list-mix > .list-mix-file > .mix-item > .audio-mix > input {
    margin-top: 8px;
    outline: none;
    height: 20px;
    width:20%;

}
.audio-recorder{
    display: flex;
    justify-content: center;
}