.form-check-label {
    margin-top: 15px;
    margin-left: -100px;
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.list-mix-audio {
    margin-left: -105px;
    margin-bottom: -20px;
}

.list-mix-input
{
    margin-bottom: 20px;
    border-color: black;
    color: black;

}







